apiVersion: v1
kind: Config
clusters:
  - cluster:
      server: {{ api_servers }}
    name: test-cluster
contexts:
  - context:
      cluster: test-cluster
    name: test-cluster-context
current-context: test-cluster-context