[Unit]
Description=Kubernetes Kube Proxy
After=network.target
After=kube-apiserver.service

[Service]
EnvironmentFile=-/etc/kubernetes/kubernetes-kube-proxy
ExecStart=/usr/bin/kube-proxy \
        $KUBE_MASTER \
        $KUBE_LOGTOSTDERR \
        $KUBE_LOG_DIR \
        $KUBE_LOG_LEVEL

Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
