[Unit]
Description=Kubernetes Kubelet
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/var/lib/kubelet
EnvironmentFile=-/etc/kubernetes/kubernetes-kubelet 
ExecStart=/usr/bin/kubelet \
          $KUBE_LOG_DIR \
          $KUBE_LOG_LEVEL \
          $KUBELET_ADDRESS \
          $KUBELET_PORT \
          $KUBELET_HOSTNAME \
          $KUBELET_KUBECONFIG \
          $KUBE_ALLOW_PRIV \
          $KUBELET_ARGS


Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
